@font-face {
font-family: 'ProximaNovaLight';
src: local("ProximaNova-Light"),
url('../fonts/ProximaNova-Light.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNovaThin';
src: local("ProximaNova-Thin"),
url('../fonts/ProximaNova-Thin.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaNovaRegular';
src: local("ProximaNova-Regular"),
url('../fonts/ProximaNova-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: local("ProximaNova-Bold"),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}