$decor-font-family: 'Bandera Pro', sans-serif;

$theme-color-1: #003a79;
$theme-color-2: #fdc602;
$theme-color-3: #fff;

$regularFont : 'ProximaNovaRegular' , sans-serif;
$boldFont : 'ProximaNovaBold' , sans-serif;
$thinFont : 'ProximaNovaThin' , sans-serif;
$lightFont : 'ProximaNovaLight' , sans-serif;

ul{
    padding: 0;
    margin: 0;    
}

a{
    text-decoration: none;
}